--- File .gitignore cho dự án Java / JavaFX ---

*.class
*.jar
*.war
*.ear

Maven

target/

Gradle

build/
.gradle/
out/

IntelliJ (Bao gồm các file trong ảnh của bạn như compiler.xml, misc.xml)

.idea/
*.iml

Eclipse

.project
.classpath
.settings/

VS Code

.vscode/

NetBeans

nbproject/
nbactions.xml

*.log
*.tmp
*.temp


*.lst
createdFiles.txt
InputFiles.lst

.DS_Store

Windows

Thumbs.db
desktop.ini